http_interactions:
- request:
    method: get
    uri: https://api.github.com/organizations?since=1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      Authorization: My bearer token is safe
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ad74ce3c94603322cddbdc174a4a9da9d0a2aa929fa4a046b86b1e7bce9d4648"
      link: <https://api.github.com/organizations?since=3286>; rel="next", <https://api.github.com/organizations{?since}>;
        rel="first"
      status: 200 OK
      x-accepted-oauth-scopes: ''
      x-github-media-type: github.v3
      x-oauth-scopes: repo, user, workflow
      x-ratelimit-limit: '5000'
      x-ratelimit-remaining: '4999'
      x-ratelimit-reset: '1607956659'
      x-ratelimit-used: '1'
    body:
      encoding: UTF-8
      file: no
      string: |
        [
          {
            "login": "errfree",
            "id": 44,
            "node_id": "MDEyOk9yZ2FuaXphdGlvbjQ0",
            "url": "https://api.github.com/orgs/errfree",
            "repos_url": "https://api.github.com/orgs/errfree/repos",
            "events_url": "https://api.github.com/orgs/errfree/events",
            "hooks_url": "https://api.github.com/orgs/errfree/hooks",
            "issues_url": "https://api.github.com/orgs/errfree/issues",
            "members_url": "https://api.github.com/orgs/errfree/members{/member}",
            "public_members_url": "https://api.github.com/orgs/errfree/public_members{/member}",
            "avatar_url": "https://avatars2.githubusercontent.com/u/44?v=4",
            "description": null
          },
          {
            "login": "engineyard",
            "id": 81,
            "node_id": "MDEyOk9yZ2FuaXphdGlvbjgx",
            "url": "https://api.github.com/orgs/engineyard",
            "repos_url": "https://api.github.com/orgs/engineyard/repos",
            "events_url": "https://api.github.com/orgs/engineyard/events",
            "hooks_url": "https://api.github.com/orgs/engineyard/hooks",
            "issues_url": "https://api.github.com/orgs/engineyard/issues",
    [...]
